.video-items{
	width: 100%;
	height: 229px;
	display: flex;
	gap: 10px;
	overflow: hidden;
}
.video-item{
	min-width: calc(25% - 10px);
	height: 100%;
/*	border:  1px solid white;*/
position: relative;
}
.video-item img{
	height: 75%;
	object-fit: cover;
	border-radius: 15px;
}
.video-info{
	color: white;
	margin-top: 5px;
}
.play-icon{
position: absolute;
top: calc(75%/2);
left: 50%;
transform: translate(-50%, -50%);
font-size: 50px;
color:#a30303;
/*background-color: white;*/
width: fit-content;
height: fit-content;
z-index: 1;

}
.play-icon i{
	overflow: hidden;
	cursor: pointer;
}
.white{
	    background-color: white;
    width: 45px;
    height: 30px;
    /* transform: translateY(-100%); */
    z-index: -1;
    position: absolute;
    border-radius: 30%;
    bottom: 32%;
    left: 3px;
}
@media screen and (max-width: 425px){
	.video-items{
		overflow-x: scroll;
		height: 230px
	}
	.video-item{
		min-width:calc(80% - 10px) ;
	}
}